.events h2 {
    margin-bottom: 5px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #ead3d3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

blockquote {
    font-style: italic;
    font-size: 1.0em;
    color: #1785f8;
    margin: 10px 0;
    padding: 5px 20px;
    border-left: 5px solid #1785f8;
    background-color: #f9f9f9;
}

aside {
    margin-top: 20px;
    padding: 0px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
aside h2 {
    margin-bottom: 5px;
    font-size: 1.2em;
}
aside #TableOfContents ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}
aside #TableOfContents ul li {
    margin-bottom: 5px;
}
aside #TableOfContents ul li ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;
}
aside #TableOfContents ul li a {
    font-size: 0.9em;
}
