{{ define "title" }}{{ site.Title }}{{ end }}

{{ define "main" -}}
<main class="main layout__main">
<article class="single-view{{ with .Section }} single-view--{{ . | urlize }}{{ end }}">
<div class="content">
{{ .Content }}
</div>
</article>
{{ partial "breadcrumbs.html" . }}
<h1 class="title">{{ i18n "Upcoming Events" }}</h1>

{{ $pages := site.Pages }}
{{ range $pages.ByParam "eventStart" }}
 {{ if not .Params.eventStart }}
   {{ continue }}
 {{ end }}
 {{ if (time .Params.eventStart).After now }}
   {{ .Render "summary"}}
 {{ end }}
{{ end }}

<h1 class="title">{{ i18n "Posts" }}</h1>

{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ $paginator := .Paginate $pages -}}
{{ range $paginator.Pages -}}
{{ .Render "summary"}}
{{ end -}}

{{ partial "pagination.html" . }}
</main>
{{ end }}
