.header.layout__header {
  margin-bottom: 0;
}

.main-menu {
  margin-top: 0;
}

/* Ensure site-name is centered with respect to the logo */
.header__site-name {
  line-height: 1.7;
}

.events h2 {
    margin-bottom: 5px;
}

.list-view h2 {
    margin-bottom: 5px;
}

/* In the article overview, if the 'summary' is taken automatically out of the
content then it's a p instead of a div, which happens when specifying
'summary' in the page metadata. */
.list-view .content p {
    margin-top: 0;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #ead3d3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

blockquote {
    font-style: italic;
    font-size: 1.0em;
    color: navy;
    margin: 10px 0;
    padding: 5px 20px;
    border-left: 5px solid navy;
    background-color: #f9f9f9;
}

aside {
    margin-top: 20px;
    padding: 0px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
aside h2 {
    margin-bottom: 5px;
    font-size: 1.2em;
}
aside #TableOfContents ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}
aside #TableOfContents ul li {
    margin-bottom: 5px;
}
aside #TableOfContents ul li ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;
}
aside #TableOfContents ul li a {
    font-size: 0.9em;
}

.breadcrumbs {
    margin-top: 20px;
}

.breadcrumbs ol {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.breadcrumbs ol li {
    display: inline;
    padding: 0 3px;
}

.breadcrumbs ol li:first-child {
    padding-left: 0;
}

.breadcrumbs ol li::after {
    content: " » ";
    padding-left: 6px;
}

.breadcrumbs ol li:last-child::after {
    content: "";
}

.breadcrumbs ol li a {
    font-size: 0.9em;
}

.content ul.calendar-links, .calendar-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
  }

ul.calendar-links {
    margin-top: 12px;
}

.content ul.calendar-links li::before {
    content: "";
    margin-right: 5px;
}

.content ul.calendar-links a, .calendar-links a {
    color: #333;
    text-decoration: none;
    background: #f0f0f0;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 0.9em;
}

.content ul.calendar-links a:hover, .calendar-links a:hover {
    background: #ddd;
}

@media (max-width: 600px) {
    .content ul.calendar-links, ul.calendar-links {
        flex-direction: column;
    }
    .content ul.calendar-links li, ul.calendar-links li {
        margin-bottom: 10px;
    }
}
