{{ define "main" -}}
<main class="main layout__main">
<article class="single-view{{ with .Section }} single-view--{{ . | urlize }}{{ end }}">
{{ partial "breadcrumbs.html" . }}
<header>
<h1 class="title {{ if $.Param "submitted" | default false }}title-submitted{{ end }}">{{ .Title }}</h1>
{{ if $.Param "submitted" | default false }}{{ partial "submitted.html" . }}{{ end -}}
{{ if .Params.tags }}{{ partial "tags.html" . }}{{ end -}}
{{ with $.Param "author" }}<p>{{ . }}</p>{{ end -}}
{{ if .Date }}{{ .Date | time.Format ":date_long" }}{{ end -}}
{{ if ne (.Lastmod | time.Format ":date_long") (.Date | time.Format ":date_long") }}
({{ i18n "last_mod" }} {{ .Lastmod | time.Format ":date_long" }})
{{ end -}}
</header>
{{ if .Params.toc }}
  <aside>
    <h2>{{ i18n "Table of Contents" }}</h2>
    {{ .TableOfContents }}
  </aside>
{{ end }}
<div class="content">
{{ .Content }}

{{ if $.Param "relatedposts" | default false }}{{ partial "related.html" . }}{{ end -}}
</div>
</article>
</main>
{{ end }}
