{{ define "main" -}}
<main class="main layout__main events">
{{ partial "breadcrumbs.html" . }}
<h1 class="title">{{ i18n "Upcoming Events" }}</h1>

{{ range .Pages.ByParam "eventStart" }}
  {{ if (time .Params.eventStart).After now }}
    {{ .Render "summary"}}
  {{ end }}
{{ end }}

<h1 class="title mt--xl">{{ i18n "Past Events" }}</h1>

{{ range (.Pages.ByParam "eventStart").Reverse }}
  {{ if (time .Params.eventStart).Before now }}
    {{ .Render "summary_past"}}
  {{ end }}
{{ end }}
</main>
{{ end }}
