{{ define "main" -}}
<main class="main layout__main">
<article class="single-view{{ with .Section }} single-view--{{ . | urlize }}{{ end }}">
{{ partial "breadcrumbs.html" . }}
<header>
  <h1 class="title {{ if $.Param "submitted" | default false }}title-submitted{{ end }}">{{ .Title }}</h1>
  {{ if $.Param "submitted" | default false }}{{ partial "submitted.html" . }}{{ end -}}
  {{ if .Params.tags }}{{ partial "tags.html" . }}{{ end -}}
  <b>{{ i18n "Start" }}: </b>{{ $.Param "eventStart" | time.Format ":date_full" }} {{ $.Param "eventStart" | time.Format ":time_short" }}
  <br>
  <b>{{ i18n "End" }}: </b>{{ $.Param "eventEnd" | time.Format ":date_full" }} {{ $.Param "eventEnd" | time.Format ":time_short" }}
  <br>
  {{ if $.Param "eventLocation" }}
    <b>{{ i18n "Location" }}: </b>{{ $.Param "eventLocation" }}
    {{ if .Params.eventGeoLat -}}
      (<a href="https://www.openstreetmap.org/?mlat={{.Params.eventGeoLat}}&mlon={{.Params.eventGeoLon}}&zoom=17" target="_blank">{{ i18n "Map" }}</a>, {{ i18n "Coordinates" }}: {{.Params.eventGeoLat}}, {{.Params.eventGeoLon}})
    {{- end }}
    <br>
  {{ end -}}
  {{ if $.Param "eventHost" }}
    <b>{{ i18n "Host" }}: </b>{{ range $i, $e := $.Param "eventHost" }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
    <br>
  {{- end }}
  {{ if $.Param "eventType" }}
    <b>{{ i18n "Type" }}: </b>{{ range $i, $e := $.Param "eventType" }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
    <br>
  {{- end }}
  {{ with $.Param "meetupLink" }}<a href="{{ . }}" target="_blank">{{ i18n "This event on" }} meetup.com</a>{{ end -}}
  <br>
  {{ with $.Param "lwLink" }}<a href="{{ . }}" target="_blank">{{ i18n "This event on" }} lesswrong.com</a>{{ end -}}
  <br>
  {{ with .GetPage "./statistics" }}
    <a href="{{ .RelPermalink }}">{{ i18n "Feedback and statistics" }}</a>
  {{ end }}
  {{ if (time .Params.eventStart).After now }}
    <div>
      <ul class="calendar-links">
        <li>
          <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=Rationality Freiburg: {{ .Title }}&dates={{ $.Param "eventStart" | time.Format "20060102T150405Z0700" }}/{{ $.Param "eventEnd" | time.Format "20060102T150405Z0700" }}&details={{ .Permalink }}&location={{ $.Param "eventLocation" }}&sf=true&output=xml" target="_blank">
          {{ i18n "Add to Google Calendar" }}
          </a>
        </li>
        <li>
          <a href="https://outlook.office.com/calendar/action/compose?path=/calendar/action/compose&rru=addevent&startdt={{ $.Param "eventStart" | time.Format "20060102T150405Z0700" }}&enddt={{ $.Param "eventEnd" | time.Format "20060102T150405Z0700" }}&subject=Rationality Freiburg: {{ .Title }}&location={{ $.Param "eventLocation" }}&body={{ .Permalink }}" target="_blank">
            {{ i18n "Add to Outlook" }}
          </a>
        </li>
        {{ with  .OutputFormats.Get "calendar" -}}
          <li>
            <a href="{{ .Permalink | safeURL }}">
            {{ i18n "Add to calendar" }} (iCal)
            </a>
          </li>
        {{- end }}
      </ul>
    </div>
  {{ end }}
</header>
<aside>
<h2>{{ i18n "Table of Contents" }}</h2>
{{ .TableOfContents }}
</aside>
<div class="content">
{{ .Content }}

{{ if $.Param "relatedposts" | default false }}{{ partial "related.html" . }}{{ end -}}
</div>
</article>
</main>
{{ end }}
