<article class="list-view{{ with .Section }} list-view--{{ . | urlize }}{{ end }} past-event">
<header>
<h2 class="title {{ if $.Param "submitted" | default false }}title-submitted{{ end }}"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
{{ if $.Param "submitted" | default false }}{{ partial "submitted.html" . -}}{{ end }}
</header>
<div class="content">
<b>{{ i18n "Start" }}: </b>{{ $.Param "eventStart" | time.Format ":date_full" }} {{ $.Param "eventStart" | time.Format ":time_short" }}
<br>
<b>{{ i18n "Location" }}: </b>{{ $.Param "eventLocation" }}
<br>
</div>
</article>
