<article class="list-view{{ with .Section }} list-view--{{ . | urlize }}{{ end }}">
<header>
<h2 class="title mt--s{{ if $.Param "submitted" | default false }} mb--xxs{{ end }}"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
{{ if $.Param "submitted" | default false }}{{ partial "submitted.html" . -}}{{ end }}
</header>
<div class="content">
<b>{{ i18n "Start" }}: </b>{{ $.Param "eventStart" | time.Format ":date_full" }} {{ $.Param "eventStart" | time.Format ":time_short" }}
<br>
<b>{{ i18n "Location" }}: </b>{{ $.Param "eventLocation" }}
<br>
  <div>
    <ul class="calendar-links">
      <li>
        <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=Rationality Freiburg: {{ .Title }}&dates={{ ($.Param "eventStart" | time.AsTime).UTC.Format "20060102T150405Z" }}/{{ ($.Param "eventEnd" | time.AsTime).UTC.Format "20060102T150405Z" }}&details={{ .Permalink }}&location={{ $.Param "eventLocation" }}&sf=true&output=xml" target="_blank">
        {{ i18n "Add to Google Calendar" }}
        </a>
      </li>
      <li>
        <a href="https://outlook.office.com/calendar/deeplink/compose?path=/calendar/action/compose&rru=addevent&startdt={{ ($.Param "eventStart" | time.AsTime).UTC.Format "2006-01-02T15:04:05Z" }}&enddt={{ ($.Param "eventEnd" | time.AsTime).UTC.Format "2006-01-02T15:04:05Z" }}&subject=Rationality%20Freiburg%3A%20{{ .Title | urlquery }}&location={{ $.Param "eventLocation" | urlquery }}&body={{ .Permalink | urlquery }}" target="_blank">
        {{ i18n "Add to Outlook" }}
        </a>
      </li>
      {{ with  .OutputFormats.Get "calendar" -}}
        <li>
          <a href="{{ .Permalink | safeURL }}">
          {{ i18n "Add to calendar" }} (iCal)
          </a>
        </li>
      {{- end }}
    </ul>
  </div>
</div>
</article>
