baseURL = 'https://www.rationality-freiburg.de/'
languageCode = 'en-us'
title = 'Rationality Freiburg'
theme = 'zen'
defaultContentLanguage = 'en'
enableGitInfo = true

[outputFormats.Calendar]
protocol = ''

[params]
contact = "info@rationality-freiburg.de"
description = "Meeting place for people who like to learn, discuss, think and improve their life. In and around Freiburg im Breisgau, Germany"
footer = "info@rationality-freiburg.de"
logo = true
realfavicongenerator = true
mainSections = ["posts"]

[markup.goldmark.renderer]
unsafe = true # enable html in markdown

[languages]

  [languages.en]
    weight = 1
    languageName = "English"
    languageCode = "en-US"

    [languages.en.menus]
    [[languages.en.menus.main]]
      name = 'Home'
      pageRef = '/'
      weight = 10
    [[languages.en.menus.main]]
      name = 'Events'
      pageRef = '/events'
      weight = 20
    [[languages.en.menus.main]]
      name = 'Posts'
      pageRef = '/posts'
      weight = 30
    [[languages.en.menus.main]]
      name = 'About'
      pageRef = '/about'
      weight = 40

  [languages.de]
    weight = 2
    languageName = "Deutsch"
    languageCode = "de-DE"

    [languages.de.permalinks]
      events = "termine/:slug"
      posts = "beiträge/:slug"

    [languages.de.params]
      description = "Treffpunkt für Menschen, die gerne lernen, diskutieren, nachdenken und ihr Leben verbessern. In und um Freiburg im Breisgau, Deutschland."

    [languages.de.menus]
    [[languages.de.menus.main]]
      name = 'Startseite'
      pageRef = '/'
      weight = 10
    [[languages.de.menus.main]]
      name = 'Termine'
      pageRef = '/events'
      weight = 20
    [[languages.de.menus.main]]
      name = 'Beiträge'
      pageRef = '/posts'
      weight = 30
    [[languages.de.menus.main]]
      name = 'Über uns'
      pageRef = '/about'
      weight = 40
